<h1 class="font-semibold text-xl mb-2 mt-8 text-blueGray-700">Urls</h1>

<table>
  <thead>
    <tr>
      <th>Short</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr data-testid="url-link">
        <td data-testid="url-link-short-url">
          <%= link_to url.id, redirect_path(url) %>
        </td>
        <td data-testid="url-link-long-url"><%= url.long %></td>
        <td data-testid="url-link-action-show">
          <%= link_to(
            'Show',
            url,
            class: "text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to(
  'New Url',
  new_url_path,
  class: "bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
) %>
