<h1 class="font-semibold text-xl mb-2 mt-8 text-blueGray-700">New Url</h1>

<%= render 'form', url: @url %>

<%= link_to(
  'Back',
  urls_path,
  class: "text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
) %>
