<footer class="px-2 py-3 bg-gray-50 text-sm">
  <div class="container m-auto flex justify-between">
    <ul class="list-none">
      <li class="font-thin text-gray-400">
        © 2021 Michael Milewski
      </li>
    </ul>
    <ul class="list-none ml-auto">
      <li class="nav-item px-3">
        <a href="https://github.com/saramic/rails-shorts-demo" alt="github rails-shorts-demo" class="font-thin text-gray-400 hover:opacity-25">
          github
        </a>
      </li>
    </ul>
  </div>
</footer>