<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 mb-3 bg-gradient-to-r from-green-400 to-blue-500">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a class="animate-pulse font-bold leading-relaxed inline-block mr-4 py-2 text-xl whitespace-nowrap text-gray-200 hover:opacity-75" href="/">
        Rails Shorts Demo
      </a>
    </div>
    <div class="lg:flex flex-grow items-center" id="example-navbar-warning">
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="/urls">
              Urls
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>
